# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\xupeng-project\Data-Structure-C-version-\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
